<!DOCTYPE html>

<html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <title>Deep Thought Helper</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul class="header">
      <li class='aboutButton'><a id="about">About</a></li>
      <li class="headerImage"><a href="https://github.com/OutdoorCoder?tab=repositories" target="_blank"><img src="/images/GitHub-Mark.png"></a></li>
      <li class="headerImage"><a href="https://www.linkedin.com/in/cameron-massey-056b89127/" target="_blank"><img src="/images/linkedin-logo.png"></a></li>
    </ul>
    <div id="aboutExpand" class="aboutExpand" style="height: 0px">
      <p class="aboutP">&nbsp&nbsp&nbsp&nbspIn Douglas Adams classic <i>The Hitchhikers Guide to the Galaxy</i>
      the all knowing computer Deep Thought reveals the answer to the ultimate question
      about life, the universe, and everything. Which happens to be 42.
      But upon hearing the answer the people of Magrathea realized that they weren't quite sure what the question was.
      <br/><br/>&nbsp&nbsp&nbsp&nbspThis website seeks to try and find that question by searching the vast library of wikipedia.
      Any page that contains the holy number of 42 will show up on this page. You can find the context of each quote in the link below it.
      <br/><br/>
      Developer: Cameron Massey
      <br/>Contact: cameron_massey@yahoo.com</p>
    </div>
    <h1>Deep Thought Helper</h1>
    <ul>
      <% potentialAnswer.forEach(function(potentialAnswer){ %>
        <li>
          "<%= potentialAnswer.text %>"
          <br/>
          <a href="<%= potentialAnswer.url %>">link</a>
        </li>
      <% }); %>
    </ul>
  </body>
  <script>
    document.getElementById("about").addEventListener("click", function(){
      if (document.getElementById("aboutExpand").style.height == "0px"){
        document.getElementById("aboutExpand").style.height = "100%";
        document.getElementById("aboutExpand").style.maxHeight = "700px";
      }
      else {
        document.getElementById("aboutExpand").style.height = "0px";
        document.getElementById("aboutExpand").style.maxHeight = "5px";
      }
    });
  </script>
</html>
