body {
  background-color: #1f4151;
  color: #ffffff;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

h1 {
  text-align: center;
}

ul.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 0px;
    width: 100%;
}

.header li {
    float: left;
    margin: 0;
}

.header li a {
    display: block;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding: 23px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.header li a:hover {
    background-color: #111;
}

.header li.headerImage {
  float: right;
}

.header .headerImage a {
  padding: 0;
}



ul {
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 25px;
  background-color:#ffffff;
  color: #494949;
}

li {
  margin: 0 0 20px 0;

}

a {
  color: #00B7FF;
}
