body {
  background-color: #20B2AA;
  color: #ffffff;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

h1 {
  margin-left: 200px;
}

ul.header {
    background-color: #D2B48C;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 0px;
    width: 100%;
    height: 60px;
}

.header li {
    float: left;
    margin: 0;
}

.header li a {
    display: block;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding: 23px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.header li a:hover {
    background-color: #a57940;
}

.header li.headerImage {
  float: right;
}

.header .headerImage a {
  padding: 0;
}

.aboutExpand {
  height: 0px;
  background-color: #E9967A;
  overflow: hidden;
  transition: height ease-in 0.3s;
}

ul {
  margin-left: 200px;
  margin-right: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 25px;
  background-color:#ffffff;
  color: #494949;
}

li {
  margin: 0 0 20px 0;
}

a {
  color: #00B7FF;
}

a:hover {
 cursor:pointer;
}

@media only screen and (max-width: 700px) {
    /* For mobile phones: */
    ul {
      margin: 0;
    }

    h1 {
      margin: 0;
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px;
    }




}
