<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <title>Deep Thought Helper</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul class="header">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
            <li class="headerImage"><a href="https://github.com/OutdoorCoder?tab=repositories"><img src="/images/GitHub-Mark.png"></a></li>
      <li class="headerImage"><a href="https://www.linkedin.com/in/cameron-massey-056b89127/"><img src="/images/linkedin-logo.png"></a></li>
    </ul>
    <h1>Deep Thought Helper</h1>
    <ul>
      <% title.forEach(function(title){ %>
        <li>
          <%= title.text %>
          <br/>
          <a href="<%= title.url %>">link</a>
        </li>
      <% }); %>
    </ul>
  </body>
</html>
